@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
/*Overpass 400 700*/


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

:root{
    /*PRIMARY*/
    --orange: hsl(25, 97%, 53%);

    /*NEUTRAL*/
    --white: hsl(0, 0%, 100%);
    --lightGrey: #959eac;
    --mediumGrey: hsl(216, 12%, 54%);
    --insideBg: #40464fd0;
    --darkBlue: hsl(213, 20%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

body{
    background-color: var(--veryDarkBlue);
    color: var(--white);
}

main{
    background-color: var(--darkBlue);
    margin: auto;
}
.icon{
    background-color: var(--insideBg);
}
h1{
    font-weight: 700;
}
p{
    font-weight: 400;
    color: var(--lightGrey);
}
form{
    display: grid;
    grid-template-areas: 'button button button button button';
}
button{
    border: none;
    color: var(--white);
    font-weight: 700;
    background-color: var(--insideBg);
    opacity: 0.6;
    grid-area: 'button';
}
input{
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
}