@charset "UTF-8";


@media screen and (min-width: 375px){
    body{
        overflow-y: hidden;
        height: 100vh;
    }
    
    main{
        width: 320px;
        height: 390px;
        margin: auto;
        margin-top: 25vh;
        padding: 20px;
        border-radius: 15px;
    }
    img{
        display: block;
        margin: auto;
    }
    h1{
        font-size: 1.7em;
        text-align: center;
    }
    p{
        width: 100%;
        margin-top: 4%;
        text-align: center;
    }
}

@media screen and (min-width: 1440px){
    main{
        width: 400px;
        padding: 30px;
    }
   input{
    padding: 15px 140px 15px 140px;
   }
}
