@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root{
    /*PRIMÃRIAS*/
    --cyan: rgb(42, 178, 175);
    --brightYellow: rgb(192, 223, 52);
    /*NEUTRAS*/
    --lightGray: rgb(229, 239, 245);
    --grayishBlue: rgb(152, 166, 189);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla';
}

/*MOBILE FIRST*/

body{
    background-color: var(--lightGray);
}

main{
    margin: auto;
    width: 340px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.253);
}

main > section, aside{
    height: 260px;  
    padding-left: 7%;
    padding-top: 8%;
}

main  h1{
    font-size: 1.3em;
    width: 80%;
    margin-bottom: 4%;
    color: white;
    font-weight: 700;
}

main p{
    color: var(--lightGray);
    margin-bottom: 5%;
    width: 80%;
    line-height: 110%;
    font-weight: 400;
    font-size: 1em;
}

.descricao{
    background-color: rgb(247, 247, 247);
    border-radius: 5px 5px 0px 0px;
}

.descricao > h1{
    color: var(--cyan);
}

.descricao > p{
    color: var(--grayishBlue);
    word-spacing: 2px;
    line-height: 150%;
}

.descricao strong{
    color: var(--brightYellow);
}

.inscricao{
    background-color: var(--cyan);
}

.preco_e_tempo{
    margin-top: 9%;
    color: rgba(255, 255, 255, 0.603);
}

.preco{
    font-size: 2.4em;
    margin-right: 5%;
    color: white;
}

.inscricao > p{
    margin-top: 3%;
    margin-bottom: 15%;
}

.botao{
    padding: 15px 110px 15px 110px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.384);
    text-decoration: none;
    text-align: center;
    background-color: var(--brightYellow);
    color: white;
    font-weight: 700;
}

aside{
    background-color: rgb(53, 207, 205);
    border-radius: 0px 0px 5px 5px;
}

aside > h1{
    margin-bottom: 6%;
}

aside > p{
    text-align: left;
    float: left;
    width: 60%;
    font-size: 1em;
    line-height: 150%;
}

@media screen and (min-width: 800px){
    main{
        display: grid;
        width: 700px;
        grid-template-columns: 350px 350px;
    }
    .descricao{
        grid-column: 1 / 3;
        padding: 7%;
    }
    .descricao > p{
        margin-bottom: 2%;
        width: 100%;
    }
    .inscricao{
        grid-column: 1 / 2;
        padding: 9%;
    }
    .inscricao > p{
        margin-bottom: 14%;
    }
    .botao{
        padding: 15px 100px 15px 100px;
    }
    aside{
        padding: 9%;
    }
    aside > p {
        font-size: 0.9em;
    }
}

