@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); 
/*- Family: [Lexend Deca]*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap'); 
/*- Family: [Big Shoulders Display]*/


:root{
   /*Primárias*/ 
    --brightOrange: rgb(227, 136, 38);
    --darkCyan: rgb(0, 105, 112);
    --veryDarkCyan: rgb(0, 66, 65);

    /*Neutras*/
    --transparentWhite: rgba(255, 255, 255, 0.75); /*parágrafos*/
    --veryLightGray: rgb(242, 242, 242); /*(background, headings, buttons)*/
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--veryLightGray);
}


main.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 340px;
    height: 1200px;

    text-align: center;
}

section.flex-item{
    width: 100%;
    height: 33.3%;
}

section.flex-item > header{
    width: 75%;
    text-align: left;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

section.flex-item img {
    margin-bottom: 10%;
}

section.flex-item  h1{
    color: var(--veryLightGray);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 2.5em;
}

section.flex-item > article{
    width: 75%;
    margin: auto;
}

section.flex-item  p{
    color: var(--transparentWhite);
    font-family: 'Lexend Deca';
    font-weight: 400;
    text-align: left;
}


section.flex-item > aside{
    float: left;
    margin-left: 42.5px;
    margin-top: 15%;

}

section.flex-item > aside.aside-2{
    margin-top: 13%;
}

section.flex-item a{
    
    padding: 15px 25px 15px 25px;
    border-radius: 30px;

    width: 100px;
    font-family: 'Lexend Deca';
    background-color: var(--veryLightGray);
    text-decoration: none;
}


section.flex-item a#btn-1{
    color: var(--brightOrange);
}

section.flex-item a#btn-1:active{
    background-color: var(--brightOrange);
    color: var(--transparentWhite);
    border: 1px solid var(--transparentWhite);
}

section.flex-item a#btn-2{
    color: var(--darkCyan);
}

section.flex-item a#btn-2:active{
    background-color: var(--darkCyan);
    color: var(--transparentWhite);
    border: 1px solid var(--transparentWhite);
}

section.flex-item a#btn-3{
    color: var(--veryDarkCyan);
}

section.flex-item a#btn-3:active{
    background-color: var(--veryDarkCyan);
    color: var(--transparentWhite);
    border: 1px solid var(--transparentWhite);
}

section#item-1{
    background-color: var(--brightOrange);
    border-radius: 10px 10px 0px 0px;
}

section#item-2{
    background-color: var(--darkCyan);
}

section#item-3{
    background-color: var(--veryDarkCyan);
    border-radius: 0px 0px 10px 10px;
}