@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


:root {
  /* ## Colors */
  /* ### Neutral */
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
  font-size: 62.5%;
}

.page {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
}

.header {
  color: var(--mediumGray);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__auth-link {
  color: var(--mediumGray);
  text-decoration: none;
}
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main__button {
  background-color: var(--almostBlack);
  border: 0.1rem solid var(--almostBlack);
  color: var(--almostWhite);
  font-weight: bolder;
}
.main__button:hover {background-color: var(--almostWhite);}

.button {
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: 0.3s;
}
.button:hover {
  color: var(--almostBlack);
  cursor: pointer;
}

.footer {display: flex; width: 100%;}

/* MOBILE FIRST */

@media screen and (max-width: 1023px) {
  .page-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
  }

  /*HEADER*/
  .header-mobile {
    padding: 2rem 0rem;
    width: 95%;
  }

  .header__nav-list {display: none;}
  .header__auth-links {display: none;}

  /*MAIN*/
  .main-mobile {
    padding: 3rem 0.5rem;
    row-gap: 2rem;
    text-align: center;
  }
  .main__paragraph {
    color: var(--mediumGray);
    font-size: 1.7rem;
    max-width: 40rem;
  }

  /*FOOTER*/
  .footer-mobile {
    align-items: center;
    justify-content: space-between;
    max-width: 50rem;
    padding: 2rem 1rem;
    padding-bottom: 7rem;
  }
  .footer__img {
    width: 6rem;
  }
}


/*DESKTOP*/
@media screen and (min-width: 1024px) {
  .page-desktop {
    display: grid;
  }

  /*HEADER*/
  .header-desktop {
    padding: 3rem;
  }
  .header__menu-icon{display: none;}

  .header__nav-list {
    display: flex;
    list-style-type: none;
    column-gap: 4rem;
  }
  .header__nav-item {
    cursor: pointer;
    transition: 0.3s;
  }
  .header__nav-item:hover {color: var(--almostBlack);}
  .header__nav-dropdown::after {
    content: " " url(../images/icon-arrow-down.svg);
    transition: 0.3s ease;
  }
  .header__nav-dropdown:hover::after {
    color: var(--almostBlack);
    filter: contrast(300%);
  }

  .header__auth-links {
    margin-left: auto;
  }
  /*BUTTONS*/
  .header__auth-link {
    text-decoration: none;
    transition: 0.3s;
  }
  .header__auth-link:hover {color: var(--almostBlack);}
  .auth-button:hover {border: 0.2rem solid var(--almostBlack);}
  .auth-button {
    border: 0.2rem solid var(--mediumGray);
    margin-left: 1rem;
    transition: 0.3s;
  }
}