@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


:root {
  /* ## Colors */
  /* ### Neutral */
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
  font-size: 62.5%;
}

.page {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
}

.header {
  color: var(--mediumGray);
  width: 100%;
}

/*NAV*/
.header__nav {display: flex;}
.header__nav-list {
  list-style-type: none;
  column-gap: 4rem;
}
.header__nav-item {
  cursor: pointer;
  transition: 0.3s;
}
.header__nav-item:hover {color: var(--almostBlack);}
.header__nav-dropdown::after {
  content: " " url(../images/icon-arrow-down.svg);
  transition: 0.3s ease;
}

.header__nav-list{display: flex;}

/*AUTH*/
.header__auth-link {
  color: var(--mediumGray);
  text-decoration: none;
  transition: 0.3s;
}
.header__auth-link:hover {color: var(--almostBlack);}
.auth-button:hover {border: 0.2rem solid var(--almostBlack);}
.auth-button {
  border: 0.2rem solid var(--mediumGray);
  /* margin-left: 1rem; */
  transition: 0.3s;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main__button {
  background-color: var(--almostBlack);
  border: 0.1rem solid var(--almostBlack);
  color: var(--almostWhite);
  font-weight: bolder;
}
.main__button:hover {background-color: var(--almostWhite);}

.button {
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}
.button:hover {
  color: var(--almostBlack);
  cursor: pointer;
}

.footer {display: flex; width: 100%;}

/* MOBILE FIRST */

@media screen and (max-width: 1023px) {
  .page-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
  }

  /*HEADER*/
  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0rem;
    width: 95%;
  }
  .header__items_not-displayed {display: none;}
  .header__items_open {display: flex;}
  .header__items-mobile {
    background-color: white;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    position: fixed;
    right: 0;
    row-gap: 4rem;
    top: 0;
    width: 66%;
    z-index: 1;
  }
  .header__close-icon {
    margin-left: auto;
    width: 15%;
  }

  .header__nav-list, .header__auth-links {
    padding-left: 0;
    flex-direction: column;
    row-gap: 1rem;
  }
  .header__auth-links {
    display: flex;
    align-items: center;
  }

  .auth-button {
    width: 100%;
  }
  /*MAIN*/
  .main-mobile {
    padding: 3rem 0.5rem;
    row-gap: 2rem;
    text-align: center;
  }
  .main__paragraph {
    color: var(--mediumGray);
    font-size: 1.7rem;
    max-width: 40rem;
  }

  /*FOOTER*/
  .footer-mobile {
    align-items: center;
    justify-content: space-between;
    max-width: 50rem;
    padding: 2rem 1rem;
    padding-bottom: 7rem;
  }
  .footer__img {
    width: 6rem;
  }
}


/*DESKTOP*/
@media screen and (min-width: 1024px) {
  .page-desktop {
    display: grid;
  }

  /*HEADER*/
  .header-desktop {
    display: grid;
    grid-template-columns: 1fr 12fr ;
    padding: 3rem;
  }
  .header__open-icon, .header__close-icon{display: none;}
  .header__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .auth-button {
    padding: 1.5rem 2.5rem;
    margin-left: 2rem;
  }
}