@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


:root {
  /* ## Colors */
  /* ### Neutral */
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
  font-size: 62.5%;
}

.page {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.button {
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.button:hover {cursor: pointer;}

.footer {display: flex; width: 100%;}

/* MOBILE FIRST */

@media screen and (max-width: 768px) {
  .page-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
  }

  /*HEADER*/
  .header-mobile {
    padding: 2rem 0rem;
    width: 95%;
  }

  .header__nav-list {
    display: none;
  }
  .header__auth-links {
    display: none;
  }

  /*MAIN*/
  .main-mobile {
    padding: 3rem 0.5rem;
    row-gap: 2rem;
    text-align: center;
  }
  .main__paragraph {
    color: var(--mediumGray);
    font-size: 1.7rem;
    max-width: 40rem;
  }

  .main__button {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
  }
  .main__button:hover {
    background-color: var(--almostWhite);
    color: var(--almostBlack);
  }

  /*FOOTER*/
  .footer-mobile {
    align-items: center;
    justify-content: space-between;
    /* column-gap: 2rem; */
    max-width: 50rem;
    padding: 2rem 1rem;
    padding-bottom: 7rem;
  }
  .footer__img {
    width: 6rem;
  }
}