@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
}

.header {
  align-items: center;
  display: flex;
}

.toggle-container {
  align-items: end;
  display: flex;
}