@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: wheat;
  display: flex;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.header { border: 1px solid red;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 1rem;
}

.toggle-container {
  align-items: end;
  display: flex;
}

/* TOGGLE */
.switch {
  display: flex;
  flex-direction: column;
}

.theme-labels, .theme-options {
  display: flex;
  justify-content: space-between;
  column-gap: 0.3rem;
}
.theme-options {
  border: 1px solid orange;
}

.calculator {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.result {
  border: 1px solid brown;
  font-size: 2rem;
  padding: 1.5rem;
  text-align: right;
}

.operators {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/* Buttons */
[class~= "btn"] {
  border-radius: 0.5rem;
  box-shadow: 0px 2px black;
  cursor: pointer;
  font-size: 2rem;
  padding: .7rem;
  align-content: center;
  text-align: center;
}
.btn:hover {
  background-color: red;
}

.btn-function {
  font-size: 1.3rem;
}

.reset {
  border: 1px solid red;
  grid-column: 1 / 3;
}

.equal {
  border: 1px solid red;
  grid-column: 3 / 5;
}