@charset "UTF-8";


@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}


@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
  font-weight: bold;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
/* COlORS */
/* Primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

/* Neutral */
  --white: hsl(0, 0%, 100%);
  --veryLightGrayishBlue: hsl(210, 60%, 98%);
  --lightGrayishBlue1: hsl(211, 68%, 94%);
  --lightGrayishBlue2: hsl(205, 33%, 90%);
  --grayishBlue: hsl(219, 14%, 63%);
  --darkGrayishBlue: hsl(219, 12%, 42%);
  --veryDarkBlue: hsl(224, 21%, 14%);

  font-family: "Plus Jakarta Sans";
  font-weight: 500;
}


.body {
  background-color: var(--veryLightGrayishBlue);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0rem;
  row-gap: 1.3rem;
  max-width: 40rem;
}
.notification-container {column-gap: 0.5rem;}
.header, .notification-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.notification-heading { /*H1*/
  color: var(--veryDarkBlue);
  font-size: 1.3rem;
}
.notification-count {
  background-color: var(--blue);
  border-radius: 0.3rem;
  color: white;
  padding: 0.1rem 0.5rem;
}

.notifications {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}
.notification {
  align-items: start;
  border-radius: 0.5rem;
  column-gap: 1rem;
  display: flex;
  font-size: 0.875rem;
  padding: 1rem;
}
.notification-unread {
  background-color: var(--veryLightGrayishBlue);
}
.notification-unread .notification-action::after {
  background-color: var(--red); /* Cor vermelha */
  border-radius: 50%; /* Torna a bolinha redonda */
  content: "";
  display: inline-block;
  height: 0.5rem; /* Altura da bolinha */
  margin-left: 0.375rem; /* Espaçamento entre o texto e a bolinha */
  vertical-align: middle;
  width: 0.5rem; /* Largura da bolinha */
}
.post-img {
  border: 0.1rem solid var(--white);
  cursor: pointer;
  display: inline; 
  margin-left: auto;
  padding: 0.05rem;
} 
.profile-img, .post-img{
  width: 2.5rem;
}
.post-img:hover {
  border: 0.1rem solid var(--lightGrayishBlue1);
  border-radius: 0.5rem;
  
}
.name {
  cursor: pointer;
  transition: 0.3s;
}
.name:hover {
  color: var(--blue);
}
.post-class {color: var(--darkGrayishBlue); transition: 0.3s;}
.club-class {color: var(--blue);}
.post-class, .club-class {
  cursor: pointer;
  font-weight: 800;
}
.pv-msg {
  border: 0.1rem solid rgba(128, 128, 128, 0.192);
  border-radius: 0.3rem;
  color: var(--darkGrayishBlue);
  cursor: pointer;
  margin: 0.3rem;
  max-width: 95%;
  padding: 0.7rem 1rem 0.7rem 0.5rem;
  text-align: left;
  transition: 0.3s;
}
.pv-msg:hover {
  background-color: var(--lightGrayishBlue1);
  border: 0.1rem solid var(--lightGrayishBlue1);
}
.action, .time {
  color: var(--grayishBlue);
}
.mark-btn {
  border: none;
  background-color: white;
  color: var(--grayishBlue);
  cursor: pointer;
  transition: 0.3s;
}
.mark-btn:hover, .post-class:hover{
  color: var(--blue);
}

img{
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 40rem) {
  .body {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .main {
    border-radius: 1rem;
  }
}