@charset "UTF-8";


@media screen and (min-width: 320px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
        padding: 7rem 2rem;
    }
    .logo{
        width: 6rem;
    }
    .desc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    img{
        margin-bottom: 3rem;
    }
    
    .first-p{
        margin-bottom: 2rem;
        color: var(--gray);
        font-size: 3rem;
        font-weight: 300;
    }
    .first-p > span{
        color: var(--veryDarkBlue);
        font-weight: 700;
    }
    .sec-p{
        font-size: 1.6rem;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
    }
    
    .dashboard{
        width: 100%;
        margin-bottom: 8rem;
    }
    
    input[type = "email"]{
        border: 0.1rem solid var(--paleBlue);
        border-radius: 2rem;
        padding: 1rem 14rem 1rem 4rem;
        margin-bottom: 1rem;
    }
    input[type = "email"]::placeholder{color: var(--paleBlue);}
    input[type = "submit"]{
        background-color: var(--blue);
        color: white;
        border: none;
        border-radius: 2rem;
        padding: 1rem 14rem;
    }
    .icons{
        display: flex;
        justify-content: space-between;
        width: 10rem;
        margin-bottom: 2rem;
    }
    .icon{
        border-radius: 50%;
        border: 0.5rem solid transparent;
    }
    .icon:active{
        background-color: var(--blue);
        color: white;
    }
    
    .copy{
        color: var(--gray);
        font-size: 1rem;
    }
}

