@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', serif;
}
html{font-size: 62.5%;}
:root{
    /*Primary*/
    --blue: hsl(223, 87%, 63%);
    /*Secondary*/
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    /*Neutral*/
    --gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}
body{ font-size: 2rem; color: var(--veryDarkBlue);}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 7rem 2rem;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.first-p{
    margin-bottom: 2rem;
    color: var(--gray);
    font-weight: 300;
}
.first-p > span{
    color: var(--veryDarkBlue);
    font-weight: 700;
}

form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type = "email"]{
    border: 0.1rem solid var(--paleBlue);
    border-radius: 2rem;
}
input[type = "email"]::placeholder{color: var(--paleBlue);}
input[type = "email"]:focus{
    outline: none;
}
input[type = "submit"]{
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 0rem 0.5rem 1rem var(--paleBlue);
    font-weight: 700;
}
input[type = "submit"]:hover{
    cursor: pointer;
}
input[type = "submit"]:active{
    cursor: pointer;
    background-color: hsla(223, 87%, 63%, 0.849);
}

.icons{display: flex; justify-content: space-between;}

.icon{ border-radius: 50%; border: 0.5rem solid transparent;}

.icon:hover{
    background-color: var(--blue); 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy{ color: var(--gray); font-weight: 300;}
#errorMSG{
    font-size: 1.2rem;
    color: var(--lightRed);
}
.errorMode{
    outline: 0.1rem solid var(--lightRed);
}