@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


img {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-white: hsl(0, 0%, 100%);

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  --font-family: "Red Hat Text", sans-serif;
  --font-size: 16px;
}

.body {
  align-items: center;
  background-color: var(--color-rose-50);
  font-family: var(--font-family);
  justify-content: center;
}

.main {
  padding: 1rem;
}
.desserts {
  margin: 2rem 0;
}
.desserts__item {
  flex-direction: column;
  row-gap: 0rem;
}

.main__title, .desserts__button, .desserts__title{color: var(--color-rose-900);}
.desserts__button {
  align-items: center;
  border-radius: 2rem;
  bottom: 1.2rem;
  justify-content: center;
  margin: auto;
  max-width: 50%;
  padding: 0.5rem 1.5rem;
  position: relative;
}
.desserts__button--add {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-rose-500);
  column-gap: .5em;
}
.desserts__button--add::before {
  content: url(assets/images/icon-add-to-cart.svg);
}
.desserts__button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition:  transform 0.3s;
}
.desserts__button--add:active {
  border: .1rem solid var(--color-red);
  color: var(--color-red);
}
.desserts__button--counter {
  background-color: var(--color-red);
  border: none;
  color: var(--color-white);
}


.desserts__category {
  color: var(--color-rose-400);
}

.cart {
  background: var(--color-white) url(assets/images/illustration-empty-cart.svg) no-repeat center / auto;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  padding: 1.5rem;
}

.cart__empty-message {
  color: var(--color-rose-500);
  text-align: center;
}

.desserts__image-container, .desserts__image, .cart {border-radius: .5rem;}
.desserts__button, .desserts__price {font-weight: 700;}
.body, .desserts__item, .desserts__button, .cart {display: flex;}
.desserts__price, .cart__title {color: var(--color-red);}