@charset "UTF-8";


@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf), url(assets/fonts/Roboto-Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Primary*/
    --tomato: hsl(4, 100%, 67%);
    /*Neutral*/
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

html{font-size: 62.6%;}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: "Roboto";
    font-weight: normal;
}

main{
    display: flex;
    flex-direction: column-reverse;
    color: var(--charcoalGrey);
}
h1{
    color: var(--darkSlateGrey);
    font-weight: bold;
}
li{
    list-style-type: none;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    color: var(--darkSlateGrey);
    font-weight: bold;
}