@charset "UTF-8";


@font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto-Regular.ttf), url(assets/fonts/Roboto-Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Primary*/
    --tomato: #ff6257;
    /*Neutral*/
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

html{font-size: 62.6%;}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: "Roboto";
    font-weight: normal;
    background-color: var(--darkSlateGrey);
}

.main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    border-radius: 0.5rem;
    color: var(--charcoalGrey);
    background-color: var(--white);
    max-width: 50rem;
}
.left-side{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

h1{
    color: var(--darkSlateGrey);
    font-weight: bold;
    margin-bottom: 1rem;
}

ul{margin-top: 2rem;}
li{
    list-style-type: none;
    display: flex;
    justify-content: start;
}
li > img{margin: 0rem 1rem 3rem 0rem;}
form{
    display: flex;
    flex-direction: column;
}
label{
    color: var(--darkSlateGrey);
    font-weight: bold;
    font-size: 1.4rem;
}
input{
    padding: 2rem;
    border-radius: 0.7rem;
    border: none;
}
.email{
    border: 0.1rem solid var(--grey);
    color: var(--darkSlateGrey);
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.email:focus{
    border: 0.1rem solid var(--darkSlateGrey);
    outline: none;
}
.email:hover, .submit:hover{
    cursor: pointer;
}
.submit, .button{
    background-color: var(--darkSlateGrey);
    color: var(--white);
    font-weight: bold;
}
.submit:hover, .button:hover{
    background: linear-gradient(90deg, rgba(255,73,122,1) 0%, rgba(255,98,87,1) 61%);
    box-shadow: 0rem 1.5rem 2rem rgba(255, 98, 87, 0.315);
}
input::placeholder{color: var(--grey);}
.displayNone{display: none;}
.errorMsg{
    color: var(--tomato);
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    left: 73%;
    bottom: 1.7rem;
}

@media screen and (min-width: 1440px){
    .main{
        flex-direction: row;
        max-width: 90rem;
        padding: 2rem;
        border-radius: 4rem;
    }
    h1{font-size: 6rem;}
    p{width: 90%;}
    input{width: 90%; border-radius: 1rem;}
    .email{margin-bottom: 1rem;}
    .errorMsg{
        left: 62%;
    }
}