@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root{
  /* Primary */
  
  --linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /* (active input border) */
  --red: hsl(0, 100%, 66%); /* (input errors) */ 
  
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 3%, 87%);
  --darkGrayishViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
}

html{
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1rem;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

main {
  width: clamp(20.83rem, 90%, 32rem);
}

img {
  max-width: 100%;
  height: auto;
}

.background {
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover; 
}

.card-container {
  height: 13.33rem;
  position: relative;
  width: 100%;
}

.card {
  background-repeat: no-repeat;
  border-radius: 0.25rem;
  color: var(--white);
  position: absolute;
  width: auto;
  
}

.front {
  align-items: start;
  background-image: url(images/bg-card-front.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 8.16rem;
  justify-content: space-between;
  left: 5%;
  padding: 0.9rem;
  top: 49%;
  width: 14.88rem; /* 60% */
  z-index: 1;
}

.card-logo {
  width: 3rem;
  margin-bottom: 1rem;
}
.card-details {
  display: flex;
  flex-direction: column;
}

.card-number {
  text-align: center;
}

.card-details > div {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.card-name, .card-expiry {
  font-size: 0.5rem;
}

.back {
  align-items: center;
  background-size: cover;
  background-image: url(images/bg-card-back.png);
  display: flex;
  height: 8.16rem;
  left: 20%;
  top: 15%;
  width: 14.88rem; /* 60% */
}

.cvc {
  font-size: 0.5rem;
  position: relative;
  left: 11.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
  padding: 1rem;
  row-gap: 0.6em;
}


.label {
  color: var(--veryDarkViolet);
  font-size: .6rem;
}

.input {
  border: .1rem solid var(--lightGrayishViolet);
  border-radius: 0.5rem;
  color: var(--veryDarkViolet);
  font-weight: bold;
  padding: 0.7rem;
  margin-bottom: .7rem;
}
.input:hover {
  cursor: pointer;
}
.input:focus {
  border: 0.1rem solid var(--veryDarkViolet);
  outline: none;
}
input::placeholder {
  color: var(--lightGrayishViolet);
  font-weight: bold;
}
.input-group{
  display: flex;
  column-gap: 0rem;
  justify-content: space-between;
}

.date-container, .cvc-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 48%;
}

.date-inputs {
  display: flex;
  gap: 0.5rem; 
}

.input-small {
  width: 45%;
}

.input-medium {
  width: 100%; 
}

.submit-btn {
  background-color: var(--veryDarkViolet);
  border: 0.25rem;
  border-radius: 0.3rem;
  color: var(--white);
  padding: 0.8rem;
}

.display-none{display: none;}

@media (min-width: 80rem) {
  body {
    align-items: start;
  }
  main {
    column-gap: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .background {
    background-image: url(images/bg-main-desktop.png);
    min-height: 100vh;
    width: 30%;
  }
  .card-container {
    display: flex;
    align-items: center;
  }

  .form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .card {
    font-size: 1.6rem;
  }
  .front {
    padding: 1.4rem;
    top: 85%;
    left: 25%;
  }
  .card-logo {
    width: 5.5rem;
  }
  .card-details {
    width: 100%;
  }
  .back {
    left: 50%;
    top: 200%;
  }
  .front, .back {
    height: 13.61rem;
    width: 24.83rem;
  }
  .cvc {
    font-size: 0.9rem;
    left: 80%;
  }
  .form {
    width: 70%;
  }
  .card-number {
    align-self: flex-start;
  }
}