@charset "UTF-8";


:root{
    /*PRIMÃRIAS*/
    --veryDarkBlue: rgb(9, 11, 26); /*main background*/
    --darkDesaturatedBlue: hsl(244, 38%, 16%); /*card background*/
    --softViolet: hsl(277, 64%, 61%); /*accent*/

    /*NEUTRAS*/
    --white: rgb(255, 255, 255); /*main heading, stats*/
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
    --SlightlyTransparentWhite : hsla(0, 0%, 100%, 0.6);/*stat headings*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main.flex-container{
    border: 1px solid green;

    display: flex;
    flex-direction: column;
}

main > .flex-item{
    border: 1px solid red;
}