@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/*INTER 400 e 700*/


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); 
/*LEXEND DECA 400*/


:root{
    /*PRIMÁRIAS*/
    --veryDarkBlue: rgb(9, 11, 26); /*body background*/
    --darkDesaturatedBlue: rgb(27, 25, 56); /*card background*/
    --softViolet: rgb(170, 92, 219); /*accent*/

    /*NEUTRAS*/
    --white: rgb(255, 255, 255); /*main heading, stats*/
    --slightlyTransparentWhite: rgba(255, 255, 255, 0.75); /*main paragraph*/
    --SlightlyTransparentWhite : rgba(255, 255, 255, 0.6);/*stat headings*/
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
}

/*MOBILE FIRST*/

body{
    padding: 70px 0px ;
    background-color: var(--veryDarkBlue);
}

main.flex-container{ /*Container*/
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 340px;
    height: 700px;
    justify-content: center;
}

main > .flex-item{ /*Itens geral*/
    height: 50%;
    background-color: var(--darkDesaturatedBlue);
}

main > #imagem{ /*Filho 1 (imagem)*/
    height: 30%;
    border-radius: 7px 7px 0px 0px;
    background-color: var(--softViolet);
}

/*IMAGENS*/
img#header-mobile{ /*MOBILE*/
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0px 0px;
    opacity: 60%;
}
img#header-desktop{display: none;}

main > #descricao{ /*Filho 2 (descrição)*/
    height: 70%;
    padding: 10%;
    font-family: 'Inter';
    border-radius: 0px 0px 7px 7px;
}

#descricao > h1{ /*TITULO*/
    color: var(--white);
    font-weight: 700;
    text-align: center;
    font-size: 1.9em;
    margin-bottom: 10%;
}

#descricao > h1 > span{ /*REALCE ROXO*/
    font-size: 1em;
    color: var(--softViolet);
}

main p{ /*PARAGRAFOS*/
    font-weight: 400;
    color: var(--slightlyTransparentWhite);
    margin-bottom: 10%;
    text-align: center;
}

.numbers{
    font-size: 1.4em;
    font-weight: 700;
    color: var(--white);
    font-family: 'Inter';
    margin-left: 112px;
}
.legendas{
    font-size: 0.8em;
    font-family: 'Lexend Deca';
    margin-top: 2%;
}