@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap'); /*Inter*/


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); /*'Lexend Deca'*/


/*MOBILE FIRST*/
:root{
    /*PRIMÃRIA*/
    --veryDarkBlue: rgb(9, 11, 26); /*body background*/
    --darkDesaturatedBlue: rgb(27, 25, 56); /*main background*/
    --softViolet: rgb(107, 51, 143); /*accent*/

    /*NEUTRA*/
    --White: rgb(255, 255, 255); /*(main heading, stats)*/
    --mainTransparentWhite: rgba(255, 255, 255, 0.75); /* (main paragraph)*/
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.6); /* (stat headings)*/
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

body{
    background-color: var(--veryDarkBlue);
    padding: 80px 0px 80px 0px;
}

main{
    border-radius: 7px;
    background-color: var(--darkDesaturatedBlue);
    width: 330px;
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

main > div.img{
    border-radius: 7px 7px 0px 0px;
    background-color: var(--softViolet);
    height: 248px;
}

img{
    border-radius: 7px 7px 0px 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

main > div.descricao{
    grid-row: 2 / 3;
    color: white;
    text-align: center;
    margin-top: 10%;
    width: 82%;
    margin-left: 9%;
}


main h1{
    font-size: 1.7em;
    font-weight: 700;
    font-family: 'Inter';
    margin-bottom: 7%;
}
main strong{
    color: var(--softViolet);
    font-size: 1em;
}

main p{
    color: var(--mainTransparentWhite);
    font-family: 'Lexend Deca';
    font-size: 0.9em;
    margin-bottom: 10%;
    line-height: 140%;
}

.numbers{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5em;
}

.after_numbers{
    font-size: 0.8em;
}