@charset "UTF-8";


main{
    display: grid;
    width: 375px;
    max-width: 375px;
}

#logo{
    height: 13vh;
}
#logo > img{
    width: 30%;
    margin: 6%;
    display: block;
}  

h1{
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
    width: 70%;
}
p{
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    width: 90%;
}
form{
    text-align: center;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 15%;
}
input[type="email"]{
    padding: 15px 150px 15px 15px;
}
input[type="submit"]{
    position: relative;
    bottom: 50%;
    right: 6%;
    float: right;
    padding: 16px 35px;
    border-radius: 62px;
    border: none;
}