@charset "UTF-8";


@media only screen and (max-width: 1024px){
    .container{
        flex-direction: column;
        max-width: 37.5rem;
        min-height: 60rem;
    }
    .result{ /*FILHO 1*/
        justify-content: space-between;
        height: 40%;
        max-height: 30rem;
        border-radius: 0rem 0rem 2.5rem 2.5rem;
    }
    .overall{ /*CIRCULO*/
        width: 12rem;
        height: 12rem;   
    }
    .points{
        font-size: 5rem;
    }
    .result-para{
        font-size: 1.4rem;
        width: 70%;
    }

    .summary{ /*FILHO 2*/
        height: 60%;
        max-height: 45rem;
        padding: 2.5rem;
        box-shadow: 0rem 0.5rem 1rem hsla(234, 85%, 45%, 0.281);
    }

    .summary-skills{ /*4 habilidades*/
        font-size: 1.5rem;
    }
    a{padding: 1.2rem;} /*Botao*/
    .title{font-size: 2rem;}/*TITULOS*/
    .result-title{font-size: 100%;}
}