@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 62.5%;}
:root{
    /*Primary*/
    --lightRed: hsl(0, 100%, 67%);
    --orangeYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);

    /*linear gradient*/
    --lightSlateBlue /*(background)*/: hsl(252, 100%, 67%);
    --lightRoyalBlue /*(background)*/: hsl(241, 81%, 54%);

    --violetBlue /*(circle)*/: hsl(256, 72%, 46%);
    --persianBlue /*(circle)*/: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
    /*Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.*/
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--white);
    font-size: 1.6rem;
}
.container{
    display: flex;
}

.result{ /*FILHO 1*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(var(--lightSlateBlue), var(--lightRoyalBlue));
}
.overall{ /*CIRCULO*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(var(--violetBlue), var(--persianBlue));
    border-radius: 50%;
}
.points{
    font-weight: 700;
}
.result-rank{
    font-size: 2rem;
}

.summary{ /*Filho 2*/ 
    color: var(--darkGrayBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-skills{ /*4 habilidades*/
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem;
    padding: 1rem;
}
/*SKILL 1*/
.reaction-container{
    background-color: hsla(0, 100%, 67%, 0.103);;
}
#reaction{
    color: var(--lightRed);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
}
/*SKILL 2*/
.memory-container{
    background-color:  hsla(39, 100%, 56%, 0.123);
}
#memory{
    color: var(--orangeYellow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
}
/*SKILL 3*/
.verbal-container{
    background-color: hsla(166, 100%, 37%, 0.123);
}
#verbal{
    color: var(--greenTeal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 24%;
}
/*SKILL 4*/
.visual-container{
    background-color:  hsla(234, 85%, 45%, 0.144);
}
#visual{
    color: var(--cobaltBlue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23%;
}

img{display: block;}

a{
    text-decoration: none;
    color: white;
    background-color: var(--darkGrayBlue);
    text-align: center;
    border-radius: 2.5rem;
}
a:hover{
    background-image: linear-gradient(var(--lightSlateBlue), var(--lightRoyalBlue));
    cursor: pointer;
}

.result-title{
    font-weight: 400;
    color: var(--lightLavender);
}

.light-color{
    font-weight: 400;
    color: var(--lightLavender);
}
.light-color-summary{
    font-weight: 800;
    color: var(--lightLavender);
}