@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 1439px){
    main{
        flex-direction: column;
        width: 34rem;
    }
    
    picture{/*FILHO 1*/
        display: flex;
        justify-content: center;
        border-radius: 3rem 3rem 0rem 0rem;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: center top;
        margin-bottom: -10%;
    }
    picture > img{
        width: 70%;
        bottom: 10.5rem;
    }

    section{ /*FILHO 2*/
        /*section - details summary and p*/
        align-items: center;
        justify-content: center;
        border-radius: 0rem 0rem 3rem 3rem;
        padding-bottom: 5rem;
    }   
    section > h1{ /*FAQ*/
        font-size: 3rem;
        text-align: center;
    }
    /*Acordion*/
    section > details{
        width: 100%;
        padding: 1.5rem;
        font-size: 1.4rem;
    }
}

