@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 1439px){
    main{
        flex-direction: column;
        width: 34rem;
    }
    
    picture{/*FILHO 1*/
        display: flex;
        justify-content: center;
        border-radius: 3rem 3rem 0rem 0rem;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: center top;
        margin-bottom: -10%;
    }
    picture > img{
        width: 70%;
        bottom: 10.5rem;
    }

    section{ /*Filho 2*/
        /*section - details summary and p*/
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 0rem 0rem 3rem 3rem;
        padding-bottom: 5rem;
    }   
    section > h1{ /*FAQ*/
        font-size: 3rem;
    }
    /*Acordion*/
    section > details{
        width: 90%;
        padding: 1.5rem;
        border-bottom: 0.1rem solid var(--lightGrayishBlue);
        text-align: left;
        font-size: 1.4rem;
    }

    details > summary{ /*Titulos*/
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    details > summary::after{ /*Simbolo*/
        /*Fechado*/
        content: url(../images/icon-arrow-down.svg);
    }
    details[open] > summary::after{
        /*Aberto*/
        content: url(../images/icon-arrow-down.svg);
        transform: rotate(180deg);
    }
    details > summary:hover{
        color: var(--softRed);
        cursor: pointer;
    }
    details[open] > summary{
        color: var(--veryDarkDesaturatedBlue);
        font-weight: 700;
    }
    details p{
        margin-top: 1rem;
    }
    
}

