@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html{font-size: 62.5%;}
:root{
    /*Primary*/ /*Text*/
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    /*Gradient*/ /*Background Gradient*/
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    /*Neutral*/ /*Text*/
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    /*Dividers*/
    --lightGrayishBlue: hsl(240, 5%, 91%);
}
body{
    display: flex;  
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-image: linear-gradient(var(--softViolet), var(--softBlue));
}

main{
    display: flex;
    color: var(--veryDarkGrayishBlue);
    font-weight: 400;
}
h1{color: var(--veryDarkDesaturatedBlue);}
picture,section{background-color: white;}
picture > img{
    position: relative;
}

section{/*FILHO 2*/
    display: flex;
    flex-direction: column;
}
section > details{
    border-bottom: 0.1rem solid var(--lightGrayishBlue);
    text-align: left;
}
details > summary{ /*Titulos*/
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
details > summary::after{ /*Simbolo*/
    /*Fechado*/
    content: url(../images/icon-arrow-down.svg);
}
details[open] > summary::after{
    /*Aberto*/
    content: url(../images/icon-arrow-down.svg);
    transform: rotate(180deg);
}
details > summary:hover{
    color: var(--softRed);
    cursor: pointer;
}
details[open] > summary{
    color: var(--veryDarkDesaturatedBlue);
    font-weight: 700;
}
details p{
    margin-top: 1rem;
}