@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

:root{
    /*primary*/
    --purple: hsl(259, 100%, 65%);
    --lightRed: hsl(0, 100%, 67%);
    /*neutral*/
    --white: hsl(0, 0%, 100%);
    --offWhite: hsl(0, 0%, 94%);
    --lightGrey: hsl(0, 0%, 86%);
    --smokeyGrey: hsl(0, 1%, 44%);
    --offBlack: hsl(0, 0%, 8%);
}

html{font-size: 62.5%;}

body{
    background-color: var(--lightGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.2rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 2rem 2rem 10rem 2rem;
    padding: 2rem 1rem;
    width: calc(100% - 2rem);
    max-width: 76.8rem;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 6rem;
    border-bottom: 0.1rem solid var(--lightGrey);
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 15rem;
}
label{
    color: var(--smokeyGrey);
    letter-spacing: 0.3rem;
}

.input, .submit{
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--lightGrey);
    font-size: 2rem;
    transition: border 0.4s, background-color 0.4s;
    caret-color: var(--purple);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input:focus{
    outline: none;
    border: 0.1rem solid var(--purple);
}
input:hover{
    cursor: pointer;
    border: 0.1rem solid var(--purple);
}
.submit{
    position: relative;
    bottom: 3.5rem;
    width: 7rem;
    border-radius: 50%;
    padding: 2rem;
    background-image: url(assets/images/icon-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45%;
    background-color: var(--purple);
}
.submit:hover{
    background-color: var(--offBlack);
    border: 0.1rem solid var(--offBlack);
}

.age-wrapper{
    width: 100%;
}
.age{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
}
span{
    color: var(--purple);
    letter-spacing: 1rem;
    transition: opacity 0.4s ease-in-out;
}

.displayNone{
    display: none;
}
.error-msg{
    color: var(--lightRed);
    font-size: clamp(0.7rem, 1.6vw, 1.2rem);
    font-weight: 400;
    margin-top: 0.5rem;
}
.error-border{border: 0.1rem solid var(--lightRed);}
.error-color{color: var(--lightRed);}

@media screen and (min-width: 1024px){
    main{
        padding: 5rem;
    }
    form{
        padding-right: 10rem;
        justify-content: space-between;
    }
    .age{
        align-items: start;
    }
    p{
        font-size: 8rem;
    }
    .input{
        padding: 1.2rem;
    }
    .submit{
        left: 46%;
        width: 10rem;
        padding: 3rem;
        bottom: 4.4rem;
    }
}