@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Primary*/
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /*Accent*/
    --blue: hsl(248, 32%, 49%);
    /*Neutral*/
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}
html{font-size: 62.5%; font-family: 'Poppins', sans-serif;}

body{
    display: flex;
    min-height: 100vh;
    background-color: var(--red);
    color: white;
    font-size: 1.6rem;
    background-image: url(../imagesbg-intro-mobile.png);
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    text-align: center;
}

h1{font-size: 2.6rem; margin: 0rem 0rem 1rem 0rem;}
p{
    font-size: 1.6rem;
    font-weight: 600; 
}
.purple-box{
    font-weight: 500;
    color: white;
    background-color: var(--blue);
    border-radius: 1rem;
    box-shadow: 0rem 1rem 0.2rem rgba(0, 0, 0, 0.178);
}

form{
    background-color: white;
    color: var(--darkBlue);
    font-weight: 500;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem 0rem rgba(0, 0, 0, 0.274);
}
.input-box{
    margin-bottom: 0.5rem; 
    height: 6rem;
}
.input-box > img{
    position: relative; 
    bottom: 3.5rem;
    left: 40%;
}
input[type = "text"]{
    width: 100%;
    border: 0.1rem solid var(--grayishBlue);
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
}
input[type = text]::placeholder{
    color: hsla(249, 10%, 26%, 0.719);
    font-weight: 700;
}
input[type = "text"]:focus{
    outline: none;
    border: 0.1rem solid var(--blue);
}

input[type = "submit"]{
    padding: 2rem;
    width: 100%;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.4rem 0rem hsl(154, 60%, 40%);
    margin-bottom: 1rem;
}
input[type = "submit"]:hover{
    cursor: pointer;
    background-color: hsl(154, 46%, 59%);
}
form > p {
    color: var(--grayishBlue);
    font-size: 1.2rem;
    width: 95%;
    margin: auto;
}
form span{
    color: var(--red);
    font-weight: 700;
}

.error-border{
    border: 0.1rem solid var(--red);
}
.error-msg{
    position: relative;
    color: var(--red);
    font-size: 1rem;
    display: flex;
    justify-content: end;
    justify-content: row;
    left: 0%;
    bottom: 50%;
}

.displayNone{
    display: none;
}

@media screen and (max-width: 1439px){
    body{
        font-size: 1.6rem;
        background-image: url(../images/bg-intro-mobile.png);
        justify-content: center;
        align-items: center;
    }
    main{
        padding: 10vh 7vw;
        max-width: 55rem;
        flex-direction: column;
        align-items: center;
    }
    p{
        margin: 0rem 0rem 4rem 0rem;
    }
    .purple-box{
        margin: 0rem 0rem 3rem 0rem;
        padding: 2rem 5rem;
    }
}

@media screen and (min-width: 1440px) {
    body{
        justify-content: center;
        background-image: url(../images/bg-intro-desktop.png);
    }
    main{
        flex-direction: row;
        align-items: center;
        max-width: 100rem;
    }
    h1{
        width: 80%;
        line-height: 5rem;
        font-size: 3.5rem;
        text-align: left;
        margin-bottom: 2rem;
    }
    p{
        width: 80%;
        font-size: 1.4rem;
        text-align: left;
    }
    .purple-box{
        padding: 1.5rem 0rem;
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
    }
    section{
        width: 50%;
    }
    form{
        max-width: 60rem;
        padding: 3rem;
    }
    .input-container{
        width: 45rem;
        margin-bottom: 2rem;
        font-size: 1.4rem;
    }
    .input-box{
        margin-bottom: 1rem;
    }
    input[type = "submit"]{
        padding: 1.5rem;
        font-size: 1.4rem;
    }
    form > p{
        text-align: center;
        width: 100%;
    }
    .error-msg{
        left: 20%;
    }
    
}