@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Primary*/
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /*Accent*/
    --blue: hsl(248, 32%, 49%);
    /*Neutral*/
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
}
html{font-size: 62.5%; font-family: 'Poppins', sans-serif;}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.6rem;
    background-image: url(../images/bg-intro-mobile.png);
    background-color: var(--red);
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 7vw;
    max-width: 45rem;
    text-align: center;
}

h1{font-size: 2.6rem; margin: 0rem 0rem 1rem 0rem;}
p{
    font-size: 1.6rem;
    font-weight: 600; 
    margin: 0rem 0rem 4rem 0rem;
}
.purple-div{
    font-weight: 500;
    color: white;
    padding: 2rem 5rem;
    background-color: var(--blue);
    border-radius: 1rem;
    box-shadow: 0rem 1rem 0.2rem rgba(0, 0, 0, 0.178);
    margin: 0rem 0rem 3rem 0rem;
}
form{
    background-color: white;
    color: var(--darkBlue);
    font-weight: 500;
    padding: 1.5rem;
    border-radius: 1rem;
}
.input-container{
    display: flex;
    justify-content: start;
    border: 0.1rem solid var(--grayishBlue);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem 2rem 1rem;
}
.label{
    position: absolute;
}

input[type = "text"]{
    width: 100%;
    border: none;
}
input[type = "text"]:focus{
    outline: none;
}
input[type = "submit"]{
    padding: 2rem;
    width: 100%;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.4rem 0rem hsl(154, 60%, 40%);
    margin-bottom: 1rem;
}
form > p {
    color: var(--grayishBlue);
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
}
form span{
    color: var(--red);
    font-weight: 700;
}